<!-- minimal.launch -->
<launch>

  <!-- Specify the package name -->
  <arg name="package" default="mattbot_bringup"/>
  <arg name="car" default="false"/>
  <arg name="tall" default="true"/>

  <!-- Launch a node from the package -->
  <node pkg="$(arg package)" type="mcu_comms.py" name="mcu_comms_node" output="screen">
    <!-- Add any additional node-specific parameters here -->
  </node>

  <!-- Launch the twist multiplexer -->
  <include file="$(find twist_mux)/launch/twist_mux.launch">
    <arg name="output_loc" value="log"/>
  </include>

  <!-- Conditionally set parameter name based on car argument -->
  <group if="$(arg car)">
    <param name="~robot_description" value="$(find mattbot_bringup)/urdf/robot_tf_car.urdf"/>
    <node pkg="$(arg package)" type="publish_transforms.py" name="rob_st_pub" output="log" />
  </group>
  <group unless="$(arg car)">
    <!-- Nested conditional: set the proper robot transform depending on if tall or short -->
    <group if="$(arg tall)">
      <param name="~robot_description" value="$(find mattbot_bringup)/urdf/robot_tf.urdf"/>
      <node pkg="$(arg package)" type="publish_transforms.py" name="rob_st_pub" output="log" />
    </group>
    <group unless="$(arg tall)">
      <param name="~robot_description" value="$(find mattbot_bringup)/urdf/robot_tf_short.urdf"/>
      <node pkg="$(arg package)" type="publish_transforms.py" name="rob_st_pub" output="log" />
    </group>  
  </group>

</launch>