<!-- Short robot stack with multi-agent navigator (short.launch + multi_agent_nav:=true). -->
<launch>
  <arg name="tall" default="false"/>
  <arg name="patrol" default="false"/>
  <arg name="camera_type" default="$(env CAMERA_TYPE)"/>
  <arg name="car" default="false"/>
  <arg name="sqlite" default="false"/>
  <arg name="social" default="false"/>
  <arg name="ledger" default="false"/>
  <arg name="object_belief" default="$(arg ledger)"/>
  <arg name="belief_hold_s" default="60.0"/>
  <arg name="belief_decay_s" default="120.0"/>

  <include file="$(find mattbot_bringup)/launch/short.launch">
    <arg name="multi_agent_nav" value="true"/>
    <arg name="tall" value="$(arg tall)"/>
    <arg name="patrol" value="$(arg patrol)"/>
    <arg name="camera_type" value="$(arg camera_type)"/>
    <arg name="car" value="$(arg car)"/>
    <arg name="sqlite" value="$(arg sqlite)"/>
    <arg name="social" value="$(arg social)"/>
    <arg name="ledger" value="$(arg ledger)"/>
    <arg name="object_belief" value="$(arg object_belief)"/>
    <arg name="belief_hold_s" value="$(arg belief_hold_s)"/>
    <arg name="belief_decay_s" value="$(arg belief_decay_s)"/>
  </include>
</launch>
