<!-- minimal.launch -->
<launch>

  <!-- Specify the package name -->
  <arg name="package" default="mattbot_bringup"/>

  <!-- Define car argument with default as false -->
  <arg name="car" default="false"/>

  <include file="$(find mattbot_bringup)/launch/minimal.launch">
    <arg name="car" value="$(arg car)"/>
  </include>

  <!-- Conditionally launch LiDAR Correction based on car parameter -->
  <group if="$(arg car)">
    <!-- Launch the LIDAR -->
    <include file="$(find rplidar_ros)/launch/rplidar_a2m12.launch">
      <arg name="scan_topic" value="scan_original"/>
    </include>

    <!-- Launch LiDAR Correction with inclined compensation -->
    <include file="$(find mattbot_mcl)/launch/lidar_correction.launch">
      <arg name="scan_input" value="/scan_original"/>
      <arg name="scan_output" value="/scan"/>  
    </include>
  </group>

  <group unless="$(arg car)">
    <!-- Launch the LIDAR without inclined correction -->
    <include file="$(find rplidar_ros)/launch/rplidar_a2m12.launch">

    </include>
  </group>
  
  <!-- Launch the Camera -->
  <include file="$(find astra_camera)/launch/astra.launch">
  
  </include>
  
  <!-- Launch SLAM -->
  <include file="$(find gmapping)/launch/slam_gmapping_pr2.launch">
      <arg name="output_location" value="log"/>
  </include>

  <arg name="auto_save" default="true"/>
  <arg name="auto_save_map_name" default="autosave"/>

  <node pkg="mattbot_mcl" type="map_autosave_guard.py" name="map_autosave_guard" output="screen">
    <param name="auto_save" value="$(arg auto_save)"/>
    <param name="map_name" value="$(arg auto_save_map_name)"/>
  </node>

</launch>
