<!-- minimal.launch -->
<launch>

  <arg name="tall" default="true"/>

  <!-- Specify the package name -->
  <arg name="package" default="mattbot_bringup"/>

  <!-- Define car argument with default as false -->
  <arg name="car" default="false"/>

  <include file="$(find mattbot_bringup)/launch/minimal.launch">
    <arg name="car" value="$(arg car)"/>
  </include>

  <!-- Conditionally launch LiDAR Correction based on car parameter -->
  <group if="$(arg car)">
    <!-- Launch the LIDAR -->
    <include file="$(find rplidar_ros)/launch/rplidar_a2m12.launch">
      <arg name="scan_topic" value="scan_original"/>
    </include>

    <!-- Launch LiDAR Correction with inclined compensation -->
    <include file="$(find mattbot_mcl)/launch/lidar_correction.launch">
      <arg name="scan_input" value="/scan_original"/>
      <arg name="scan_output" value="/scan"/>  
    </include>

    <!-- Launch AMCL for the car -->
    <include file="$(find mattbot_bringup)/launch/amcl_car.launch">
      <!-- No arguments needed -->
    </include>
  </group>
  
  <group unless="$(arg car)">
    <!-- Launch the LIDAR without inclined correction -->
    <include file="$(find rplidar_ros)/launch/rplidar_a2m12.launch">
      <!-- No arguments needed -->
    </include>

    <!-- Launch AMCL for the robot -->
    <include file="$(find mattbot_bringup)/launch/amcl.launch">
      <!-- No arguments needed -->
    </include>
  </group>

  <include file="$(find mattbot_mcl)/launch/localization_quality.launch">
    <!-- No arguments needed -->
  </include>
  
  <!-- Launch the Camera -->
  <include file="$(find astra_camera)/launch/astra.launch">
    <!-- No arguments needed -->
  </include>


  <!-- Launch the OSOD -->
  <include file="$(find mattbot_image_detection)/launch/detect_updated_osod.launch">
    <arg name="tall" default="$(arg tall)"/>
  </include> 

  <include file="$(find mattbot_navigation)/launch/localize_and_navigate_combined_map_tall.launch">
    <!-- No arguments needed -->
  </include>

  <include file="$(find mattbot_dds)/launch/dds.launch">
    <!-- No arguments needed -->
  </include>

  <!-- <include file="$(find mattbot_record)/launch/audio_with_speech_detection.launch"> -->
    <!-- No arguments needed-->
  </include>

  <!-- <include file="$(find mattbot_image_detection)/launch/face_detection.launch"> -->
    <!-- No arguments needed -->
  <!-- </include> -->

</launch>
