<!-- minimal.launch -->
<launch>

  <arg name="tall" default="true"/>

  <!-- Specify the package name -->
  <arg name="package" default="mattbot_bringup"/>

  <!-- Launch a node from the package -->
  <node pkg="$(arg package)" type="mcu_comms.py" name="mcu_comms_node" output="screen">
    <!-- Add any additional node-specific parameters here -->
  </node>

  <!-- Launch the twist multiplexer -->
  <include file="$(find twist_mux)/launch/twist_mux.launch">
    <arg name="output_loc" value="log"/>
  </include>

  <!-- Launch the LIDAR -->
  <include file="$(find rplidar_ros)/launch/rplidar_a2m12.launch">
    <!-- No arguments needed -->
  </include>
  
  <!-- Launch the Camera -->
  <include file="$(find astra_camera)/launch/astra.launch">
    <!-- No arguments needed -->
  </include>

  <!-- Launch the Image Detector -->
  <!-- <include file="$(find mattbot_image_detection)/launch/short.launch"> -->
    <!-- No arguments needed -->
  <!-- </include> -->

  <!-- Launch the Person Tracker -->
  <!-- <include file="$(find mattbot_image_detection)/launch/person_tracker.launch"> -->
    <!-- No arguments needed -->
  <!-- </include> -->

  <!-- Launch the OSOD -->
  <include file="$(find image_detection_with_unknowns)/launch/detect_updated.launch">
    <arg name="tall" default="$(arg tall)"/>
  </include>

  <!-- Launch the Monte Carlo Localization -->
  <include file="$(find mattbot_mcl)/launch/mcl.launch">
    <!-- No arguments needed -->
  </include>

  <include file="$(find mattbot_navigation)/launch/localize_and_navigate_combined_map_tall.launch">
    <!-- No arguments needed -->
  </include>

  <include file="$(find mattbot_dds)/launch/dds.launch">
    <!-- No arguments needed -->
  </include>

  <include file="$(find_mattbot_record)/launch/audio_with_speech_detection.launch">
    <!-- No arguments needed-->
  </include>

</launch>
